name: ▶️ CI/CD Pipeline

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: 'Type "DEPLOY" to confirm the action.'
        required: true
        default: 'NO'

jobs:
  deploy:
    if: github.event.inputs.confirm == 'DEPLOY'
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/GitHubActions-Terraform-Deployer
          aws-region: ap-northeast-1


      ############################################
      # 1. Terraform Apply (ECR作成のみ)
      ############################################
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.5

      - name: Terraform Init (ECR用)
        working-directory: ./infra
        run: terraform init

      - name: Terraform Apply (ECRのみ)
        working-directory: ./infra
        # run: terraform apply -auto-approve -target=aws_ecr_repository.main
        run: terraform apply -auto-approve -target=aws_ecr_repository.main -var="db_password=dummy"


      ############################################
      # 2. docker build & docker push
      ############################################
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'

      - name: Run Unit Tests
        run: go test -v ./...

      - name: Build & Push Docker Image
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: my-portfolio-2025
          IMAGE_TAG: ${{ github.sha }}
        run: |
          IMAGE_URI="$REGISTRY/$REPOSITORY:$IMAGE_TAG"
          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV

          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI


      ############################################
      # 3. Terraform Apply（ECSタスク定義・サービス更新）
      ############################################
      - name: Terraform Plan (ECS)
        working-directory: ./infra
        run: terraform plan -var="app_image_uri=${{ env.IMAGE_URI }}" -out=tfplan

      - name: Terraform Apply (ECS)
        working-directory: ./infra
        run: terraform apply -auto-approve tfplan
